<br/>
<div class='container'>
<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Veuillez renseigner les zones suivantes et soummettre votre demande</h5>
    <div class="card-text">
      <form class="form-horizontal"
        noValidate
        (ngSubmit)="save()"
        [formGroup]="problemeForm">
        <div class="form-group row">
          <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom :</label>
          <div class="col-md-10">
            <input class="form-control"
            id="prenomId"
            type="text"
            placeholder="Prénom (Obligatoire)"
            formControlName="caractere"
            [ngClass]="{'is-invalid' : (problemeForm.get('caractere').touched ||
            problemeForm.get('caractere').dirty) &&
            !problemeForm.get('caractere').errors.longueurMinimum,
            'is-valid' : (problemeForm.get('caractere').touched ||
            problemeForm.get('caractere').dirty) &&
            problemeForm.get('caractere').errors.longueurMinimum }"
            />
            <span class="form-text" *ngIf="(problemeForm.get('caractere').touched ||
                problemeForm.get('caractere').dirty) &&
                problemeForm.get('caractere').errors">
                <span *ngIf="!problemeForm.get('caractere').errors.longueurMinimum">
                    <small class="text-muted">
                        Indiquer au moins 3 caractères
                    </small>
                </span>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>